 :root {
     --green1: #d2e1cc;
     --green2: #5e8d83;
     --green3: #114538;
     --green4: #0f444c;
     --green5: #161d23;


 }



 * {
     background-color: rgb(243, 241, 228);
     flex-direction: column;
 }

 body {
     display: flex;
     flex-direction: column;
     align-items: cente;
     justify-content: cente;
     margin: 0;
     min-height: 100vh;
 }

 header {
     position: relative;
     width: 100%;
     height: 90%;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     background-color: var(--green5);
     color: #ffffff;
     display: flex;
     flex: column;
     align-items: center;
     justify-content: center;
     margin-bottom: ;
     padding-bottom: 5%;
 }

 nav {
     margin-right: 60%;
 }

 insta-log {}

 img {
     width: 20%;
     z-index: 0;
     border-radius: 10%;
     padding: 5%;
     border: solid whitesmoke;


 }

 h1 {
     display: flex;
     position: ;
     z-index: 1;
     margin-left: -70%;
     margin-top: 5%;
     font-family: cambria;
     cochin,
     georgia,
     times,
     'times new roman',
     serif;
     background-color: var(--green5);
     color: rgb(247, 242, 231);
     -webkit-text-stroke: .5px black;

 }

 h2 {
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     position: relative;
     justify-content: cente;
     align-content: cente;
     margin-left: ;
 }

 p {}

 flex-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     flex-direction: column;
     align-items: center;

 }

 .about-me {}

 h4 {
     color: var(--green5);
     flex-basis: 100%;
     flex-direction: row;
     flex-wrap: wrap;
     flex: 1 1 20%;
     borde: solid var(--green2);
     padding: %;

 }


 footer {
     margin-top: 100px;
 }

 @media screen and (max-width: 992px) {
     header {
         background: #772014;
     }
 }

 @media screen and (max-width: 768px) {
     header {
         background-color: #bb8588;

     }
 }

 @media screen and (max-width: 576px) {
     header {
         background-color: #8ac4ff;
     }
 }